<a href="https://colab.research.google.com/github/osiris-contreras/Anal-tica-en-Recursos-Humanos/blob/main/modelos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Colab

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import sys
import os
path= '/content/drive/MyDrive/codigos/Anal-tica-en-Recursos-Humanos'
os.chdir(path)
sys.path.append(path+'/')

## Visual Studio

In [ ]:
import os
import sys

ruta =os.getcwd()
sys.path.append(ruta)

# Modelo

In [ ]:
import warnings
warnings.filterwarnings("ignore")



# Importar librerias necesarias
import sqlite3 as sql
import pandas as pd
import a_funciones as fn ### importar modulo de  funciones
from a_funciones import * ### importar toddas las funciones del archivo

from sklearn.linear_model import LogisticRegression ## para regresión lineal
from sklearn import tree ###para ajustar arboles de decisión
from sklearn.ensemble import RandomForestClassifier ##Ensamble con bagging
from sklearn.ensemble import GradientBoostingClassifier ###Ensamble boosting
from sklearn.model_selection import cross_val_predict, cross_val_score, cross_validate
from sklearn.metrics import mean_squared_error
from sklearn import metrics

import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt ### gráficos
from sklearn.model_selection import RandomizedSearchCV
import joblib  ### para guardar modelos
from sklearn.preprocessing import StandardScaler ## escalar variables
#import openpyxl

In [ ]:
#### conectarse a base de datos preprocesada

con=sql.connect('bases de datos RRHH/datos.db')
cur=con.cursor()

In [ ]:
### ver todas las bases de datos ###

cur.execute("select name from sqlite_master where type='table';")
cur.fetchall()

[('completo',),
 ('retiros',),
 ('general',),
 ('employee_survey',),
 ('manager_survey',)]

In [ ]:
pd.read_sql(""" select * from completo""", con=con)

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeID,Gender,JobLevel,JobRole,...,JobSatisfaction,WorkLifeBalance,DateSurvey,JobInvolvement,PerformanceRating,SurveyDate,Attrition,retirementDate,retirementType,resignationReason
0,51,Travel_Rarely,Sales,6,2,Life Sciences,1,Female,1,Healthcare Representative,...,4.0,2.0,2015-12-31,3,3,2015-12-31,0,0,NoRetirement,NoRetirement
1,31,Travel_Frequently,Research & Development,10,1,Life Sciences,2,Female,1,Research Scientist,...,2.0,4.0,2015-12-31,2,4,2015-12-31,1,2016-10-15,Resignation,Others
2,32,Travel_Frequently,Research & Development,17,4,Other,3,Male,4,Sales Executive,...,2.0,1.0,2015-12-31,3,3,2015-12-31,0,0,NoRetirement,NoRetirement
3,38,Non-Travel,Research & Development,2,5,Life Sciences,4,Male,3,Human Resources,...,4.0,3.0,2015-12-31,2,3,2015-12-31,0,0,NoRetirement,NoRetirement
4,32,Travel_Rarely,Research & Development,10,1,Medical,5,Male,1,Sales Executive,...,1.0,3.0,2015-12-31,3,3,2015-12-31,0,0,NoRetirement,NoRetirement
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8815,42,Travel_Rarely,Research & Development,5,4,Medical,4406,Female,1,Research Scientist,...,1.0,3.0,2016-12-31,3,3,2016-12-31,0,0,NoRetirement,NoRetirement
8816,29,Travel_Rarely,Research & Development,2,4,Medical,4407,Male,1,Laboratory Technician,...,4.0,3.0,2016-12-31,2,3,2016-12-31,0,0,NoRetirement,NoRetirement
8817,25,Travel_Rarely,Research & Development,25,2,Life Sciences,4408,Male,2,Sales Executive,...,3.0,3.0,2016-12-31,3,4,2016-12-31,0,0,NoRetirement,NoRetirement
8818,42,Travel_Rarely,Sales,18,2,Medical,4409,Male,1,Laboratory Technician,...,1.0,3.0,2016-12-31,2,3,2016-12-31,0,0,NoRetirement,NoRetirement
8819,40,Travel_Rarely,Research & Development,28,3,Medical,4410,Male,2,Laboratory Technician,...,3.0,3.0,2016-12-31,4,3,2016-12-31,0,0,NoRetirement,NoRetirement

In [ ]:
#crear dataframe para el modelado(2015)
df_m = pd.read_sql("""select * from completo
where InfoDate='2015-12-31'
""",con=con)

In [ ]:
df_m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 32 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   BusinessTravel           4410 non-null   object
 2   Department               4410 non-null   object
 3   DistanceFromHome         4410 non-null   int64
 4   Education                4410 non-null   int64
 5   EducationField           4410 non-null   object
 6   EmployeeID               4410 non-null   object
 7   Gender                   4410 non-null   object
 8   JobLevel                 4410 non-null   int64
 9   JobRole                  4410 non-null   object
 10  MaritalStatus            4410 non-null   object
 11  MonthlyIncome            4410 non-null   int64
 12  NumCompaniesWorked       4410 non-null   float64
 13  PercentSalaryHike        4410 non-null   int64
 14  StockOptionLevel         4410 non-null   int64
 15  TotalWorkingYears        4410 non-null   float64
 16  TrainingTimesLastYear    4410 non-null   int64
 17  YearsAtCompany           4410 non-null   int64
 18  YearsSinceLastPromotion  4410 non-null   int64
 19  YearsWithCurrManager     4410 non-null   int64
 20  InfoDate                 4410 non-null   object
 21  EnvironmentSatisfaction  4410 non-null   float64
 22  JobSatisfaction          4410 non-null   float64
 23  WorkLifeBalance          4410 non-null   float64
 24  DateSurvey               4410 non-null   object
 25  JobInvolvement           4410 non-null   int64
 26  PerformanceRating        4410 non-null   int64
 27  SurveyDate               4410 non-null   object
 28  Attrition                4410 non-null   int64
 29  retirementDate           4410 non-null   object
 30  retirementType           4410 non-null   object
 31  resignationReason        4410 non-null   object
dtypes: float64(5), int64(14), object(13)
memory usage: 1.1+ MB

In [ ]:
#Eliminación de variables InfoDate y retirementDate, ya que no son relevantes dentro del dataframe (informacion 2015-retiros 2016)
df_m=df_m.drop(columns=['InfoDate','retirementDate'])
df_m.columns

Index(['Age', 'BusinessTravel', 'Department', 'DistanceFromHome', 'Education',
       'EducationField', 'EmployeeID', 'Gender', 'JobLevel', 'JobRole',
       'MaritalStatus', 'MonthlyIncome', 'NumCompaniesWorked',
       'PercentSalaryHike', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'YearsAtCompany', 'YearsSinceLastPromotion',
       'YearsWithCurrManager', 'EnvironmentSatisfaction', 'JobSatisfaction',
       'WorkLifeBalance', 'DateSurvey', 'JobInvolvement', 'PerformanceRating',
       'SurveyDate', 'Attrition', 'retirementType', 'resignationReason'],
      dtype='object')

In [ ]:
#Cambiar variables float a integer
columnas_float=df_m.select_dtypes(include=['float']).columns

df_m[columnas_float]=df_m[columnas_float].astype(int)
df_m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 30 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   BusinessTravel           4410 non-null   object
 2   Department               4410 non-null   object
 3   DistanceFromHome         4410 non-null   int64
 4   Education                4410 non-null   int64
 5   EducationField           4410 non-null   object
 6   EmployeeID               4410 non-null   object
 7   Gender                   4410 non-null   object
 8   JobLevel                 4410 non-null   int64
 9   JobRole                  4410 non-null   object
 10  MaritalStatus            4410 non-null   object
 11  MonthlyIncome            4410 non-null   int64
 12  NumCompaniesWorked       4410 non-null   int64
 13  PercentSalaryHike        4410 non-null   int64
 14  StockOptionLevel         4410 non-null   int64
 15  TotalWorkingYears        4410 non-null   int64
 16  TrainingTimesLastYear    4410 non-null   int64
 17  YearsAtCompany           4410 non-null   int64
 18  YearsSinceLastPromotion  4410 non-null   int64
 19  YearsWithCurrManager     4410 non-null   int64
 20  EnvironmentSatisfaction  4410 non-null   int64
 21  JobSatisfaction          4410 non-null   int64
 22  WorkLifeBalance          4410 non-null   int64
 23  DateSurvey               4410 non-null   object
 24  JobInvolvement           4410 non-null   int64
 25  PerformanceRating        4410 non-null   int64
 26  SurveyDate               4410 non-null   object
 27  Attrition                4410 non-null   int64
 28  retirementType           4410 non-null   object
 29  resignationReason        4410 non-null   object
dtypes: int64(19), object(11)
memory usage: 1.0+ MB

In [ ]:
#Conversion a Dummyes
list_dummies=['BusinessTravel', 'Department','EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'retirementType',
       'resignationReason']


df_dummies=pd.get_dummies(df_m,columns=list_dummies)

In [ ]:
df_dummies.head()

,Age,DistanceFromHome,Education,EmployeeID,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TotalWorkingYears,...,MaritalStatus_Married,MaritalStatus_Single,retirementType_Fired,retirementType_NoRetirement,retirementType_Resignation,resignationReason_Fired,resignationReason_NoRetirement,resignationReason_Others,resignationReason_Salary,resignationReason_Stress
0,51,6,2,1,1,131160,1,11,0,1,...,True,False,False,True,False,False,True,False,False,False
1,31,10,1,2,1,41890,0,23,1,6,...,False,True,False,False,True,False,False,True,False,False
2,32,17,4,3,4,193280,1,15,3,5,...,True,False,False,True,False,False,True,False,False,False
3,38,2,5,4,3,83210,3,11,3,13,...,True,False,False,True,False,False,True,False,False,False
4,32,10,1,5,1,23420,4,12,2,9,...,False,True,False,True,False,False,True,False,False,False

In [ ]:
df_dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 56 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                4410 non-null   int64
 1   DistanceFromHome                   4410 non-null   int64
 2   Education                          4410 non-null   int64
 3   EmployeeID                         4410 non-null   object
 4   JobLevel                           4410 non-null   int64
 5   MonthlyIncome                      4410 non-null   int64
 6   NumCompaniesWorked                 4410 non-null   int64
 7   PercentSalaryHike                  4410 non-null   int64
 8   StockOptionLevel                   4410 non-null   int64
 9   TotalWorkingYears                  4410 non-null   int64
 10  TrainingTimesLastYear              4410 non-null   int64
 11  YearsAtCompany                     4410 non-null   int64
 12  YearsSinceLastPromotion            4410 non-null   int64
 13  YearsWithCurrManager               4410 non-null   int64
 14  EnvironmentSatisfaction            4410 non-null   int64
 15  JobSatisfaction                    4410 non-null   int64
 16  WorkLifeBalance                    4410 non-null   int64
 17  DateSurvey                         4410 non-null   object
 18  JobInvolvement                     4410 non-null   int64
 19  PerformanceRating                  4410 non-null   int64
 20  SurveyDate                         4410 non-null   object
 21  Attrition                          4410 non-null   int64
 22  BusinessTravel_Non-Travel          4410 non-null   bool
 23  BusinessTravel_Travel_Frequently   4410 non-null   bool
 24  BusinessTravel_Travel_Rarely       4410 non-null   bool
 25  Department_Human Resources         4410 non-null   bool
 26  Department_Research & Development  4410 non-null   bool
 27  Department_Sales                   4410 non-null   bool
 28  EducationField_Human Resources     4410 non-null   bool
 29  EducationField_Life Sciences       4410 non-null   bool
 30  EducationField_Marketing           4410 non-null   bool
 31  EducationField_Medical             4410 non-null   bool
 32  EducationField_Other               4410 non-null   bool
 33  EducationField_Technical Degree    4410 non-null   bool
 34  Gender_Female                      4410 non-null   bool
 35  Gender_Male                        4410 non-null   bool
 36  JobRole_Healthcare Representative  4410 non-null   bool
 37  JobRole_Human Resources            4410 non-null   bool
 38  JobRole_Laboratory Technician      4410 non-null   bool
 39  JobRole_Manager                    4410 non-null   bool
 40  JobRole_Manufacturing Director     4410 non-null   bool
 41  JobRole_Research Director          4410 non-null   bool
 42  JobRole_Research Scientist         4410 non-null   bool
 43  JobRole_Sales Executive            4410 non-null   bool
 44  JobRole_Sales Representative       4410 non-null   bool
 45  MaritalStatus_Divorced             4410 non-null   bool
 46  MaritalStatus_Married              4410 non-null   bool
 47  MaritalStatus_Single               4410 non-null   bool
 48  retirementType_Fired               4410 non-null   bool
 49  retirementType_NoRetirement        4410 non-null   bool
 50  retirementType_Resignation         4410 non-null   bool
 51  resignationReason_Fired            4410 non-null   bool
 52  resignationReason_NoRetirement     4410 non-null   bool
 53  resignationReason_Others           4410 non-null   bool
 54  resignationReason_Salary           4410 non-null   bool
 55  resignationReason_Stress           4410 non-null   bool
dtypes: bool(34), int64(19), object(3)
memory usage: 904.5+ KB

In [ ]:
#Eliminacion de variables categoricas(fecha) y variables resignationReason ya que se presentan una alta correlación con la variable objetivo Attrition lo cual sesga el desempeño de los modelos.
df_dummies=df_dummies.drop(columns=['DateSurvey','SurveyDate','resignationReason_Fired', 'resignationReason_NoRetirement',
       'resignationReason_Others', 'resignationReason_Salary',
       'resignationReason_Stress', 'retirementType_Fired',
       'retirementType_NoRetirement', 'retirementType_Resignation' ])

# Selección de variables

In [ ]:
y=df_dummies.Attrition
X1= df_dummies.loc[:,~df_dummies.columns.isin(['Attrition',
                                               'EmployeeID'])]

Escalada de variables numéricas

In [ ]:
scaler=StandardScaler()
scaler.fit(X1)
X2=scaler.transform(X1)
X=pd.DataFrame(X2,columns=X1.columns)

# Definición de modelos

In [ ]:
m_lreg = LogisticRegression()
m_rtree = tree.DecisionTreeClassifier()
m_rf = RandomForestClassifier()
m_gbt = GradientBoostingClassifier()

modelos=list([m_lreg,m_rtree, m_rf, m_gbt])

Selección de variables desde las funciones

In [ ]:
var_names=fn.sel_variables(modelos,X,y,threshold="2.5*mean")
var_names.shape

(10,)

In [ ]:
X2=X[var_names]
X2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   float64
 1   EnvironmentSatisfaction  4410 non-null   float64
 2   JobSatisfaction          4410 non-null   float64
 3   MonthlyIncome            4410 non-null   float64
 4   NumCompaniesWorked       4410 non-null   float64
 5   PercentSalaryHike        4410 non-null   float64
 6   TotalWorkingYears        4410 non-null   float64
 7   YearsAtCompany           4410 non-null   float64
 8   YearsSinceLastPromotion  4410 non-null   float64
 9   YearsWithCurrManager     4410 non-null   float64
dtypes: float64(10)
memory usage: 344.7 KB

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 44 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                4410 non-null   float64
 1   DistanceFromHome                   4410 non-null   float64
 2   Education                          4410 non-null   float64
 3   JobLevel                           4410 non-null   float64
 4   MonthlyIncome                      4410 non-null   float64
 5   NumCompaniesWorked                 4410 non-null   float64
 6   PercentSalaryHike                  4410 non-null   float64
 7   StockOptionLevel                   4410 non-null   float64
 8   TotalWorkingYears                  4410 non-null   float64
 9   TrainingTimesLastYear              4410 non-null   float64
 10  YearsAtCompany                     4410 non-null   float64
 11  YearsSinceLastPromotion            4410 non-null   float64
 12  YearsWithCurrManager               4410 non-null   float64
 13  EnvironmentSatisfaction            4410 non-null   float64
 14  JobSatisfaction                    4410 non-null   float64
 15  WorkLifeBalance                    4410 non-null   float64
 16  JobInvolvement                     4410 non-null   float64
 17  PerformanceRating                  4410 non-null   float64
 18  BusinessTravel_Non-Travel          4410 non-null   float64
 19  BusinessTravel_Travel_Frequently   4410 non-null   float64
 20  BusinessTravel_Travel_Rarely       4410 non-null   float64
 21  Department_Human Resources         4410 non-null   float64
 22  Department_Research & Development  4410 non-null   float64
 23  Department_Sales                   4410 non-null   float64
 24  EducationField_Human Resources     4410 non-null   float64
 25  EducationField_Life Sciences       4410 non-null   float64
 26  EducationField_Marketing           4410 non-null   float64
 27  EducationField_Medical             4410 non-null   float64
 28  EducationField_Other               4410 non-null   float64
 29  EducationField_Technical Degree    4410 non-null   float64
 30  Gender_Female                      4410 non-null   float64
 31  Gender_Male                        4410 non-null   float64
 32  JobRole_Healthcare Representative  4410 non-null   float64
 33  JobRole_Human Resources            4410 non-null   float64
 34  JobRole_Laboratory Technician      4410 non-null   float64
 35  JobRole_Manager                    4410 non-null   float64
 36  JobRole_Manufacturing Director     4410 non-null   float64
 37  JobRole_Research Director          4410 non-null   float64
 38  JobRole_Research Scientist         4410 non-null   float64
 39  JobRole_Sales Executive            4410 non-null   float64
 40  JobRole_Sales Representative       4410 non-null   float64
 41  MaritalStatus_Divorced             4410 non-null   float64
 42  MaritalStatus_Married              4410 non-null   float64
 43  MaritalStatus_Single               4410 non-null   float64
dtypes: float64(44)
memory usage: 1.5 MB